<script setup>
import { ErrorMessage, Field, Form as VeeForm } from 'vee-validate';
import * as Yup from 'yup';

const schema = Yup.object().shape({
    email: Yup.string()
        .required('Your Email is Required')
        .email('Please provide a valid email')

})
</script>
<template>
    <div class="grid place-items-center">
        <div class=" mt-20 mb-10">
            <div class=" flex flex-col justify-center items-center">
                <div class=" flex flex-col justify-center items-center gap-y-8">
                    <img src="../assets/images/logo.svg" alt="">
                    <div class=" text-center">
                        <h4 class=" text-[22px] text-gray font-light leading-8 md:text-5xl md:leading-[60px]"> We are launching <span
                                class=" text-very-dark-blue font-bold">soon!</span></h4>
                        <p class="mt-[15px] text-xs font-light text-very-dark-blue md:text-2xl">Subscribe and get notified</p>
                    </div>
                    <VeeForm :validation-schema="schema" v-slot="{ errors }"
                        class=" flex flex-col justify-center items-center gap-y-2.5 md:flex-row md:gap-x-4">
                        <div class=" flex flex-col">
                            <Field name="email" placeholder="Your email address" type="email"
                                class=" text-xs pl-6 w-[281px] h-11 border text-very-dark-blue border-pale-blue rounded-[28px] placeholder:text-pale-blue focus:outline-none focus:border-blue md:w-[421px] md:h-14 md:text-base"
                                :class="{ 'border-light-red bg-light-red text-white': errors.email }">
                            </Field>
                            <ErrorMessage name="email" class=" italic text-center text-light-red text-xs font-medium" />
                        </div>
                        <button class=" w-[282px] h-11 bg-blue text-white text-xs font-semibold rounded-[28px] md:h-14 md:text-base hover:bg-pale-blue">Notify
                            Me</button>
                    </VeeForm>
                </div>
                <div class=" mt-20">
                    <img src="../assets/images/illustration-dashboard.png" alt="illustration">
                </div>
                <div class=" mt-[132px] grid gap-[25px]">
                    <div class=" flex justify-center items-center gap-5">
                        <a href="#" class="w-[33px] h-[33px] rounded-full border border-pale-blue text-center text-blue hover:bg-blue hover:text-white focus:outline-none ease-linear duration-150"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="w-[33px] h-[33px] rounded-full border border-pale-blue text-center text-blue hover:bg-blue hover:text-white focus:outline-none ease-linear duration-150"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#" class="w-[33px] h-[33px] rounded-full border border-pale-blue text-center text-blue hover:bg-blue hover:text-white focus:outline-none ease-linear duration-150"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                    <p class=" text-gray text-xs font-light md:text-sm"> &copy; Copyright Ping. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</template>